*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #1f2937;
    background-color: #f9fafb;
}

header{
    background-color: #1f2937;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header a{
    color: #ffffff;
 
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
}
footer{
    text-align: center;
    padding: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
}


.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.tarjeta{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tarjeta h2{
    margin-top: 0;
    font-size: 1.1rem;
}
.tarjeta a{
    color: #3b82f6;
    text-decoration: none;
}
.tarjeta a:hover{
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}


.titulo_content {
    background-color: #1f2937;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 14px 16px;
    text-align: left;
}

th {
    background-color: #2c3e50;;
    color: #ffffff;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


td a {
    display: inline-block;
    padding: 8px 14px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

td a:hover {
    background-color: #27ae60;
}*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #1f2937;
    background-color: #f9fafb;
}

header, .titulocontent{
    background-color: #1f2937;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header a{
    color: #ffffff;
 
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
}
footer{
    text-align: center;
    padding: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.tarjeta{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tarjeta h2{
    margin-top: 0;
    font-size: 1.1rem;
}
.tarjeta a{
    color: #3b82f6;
    text-decoration: none;
}
.tarjeta a:hover{
    text-decoration: underline;
}

.container {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 14px 16px;
    text-align: left;
}

th {
    background-color: #2c3e50;;
    color: #ffffff;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td a {
    display: inline-block;
    padding: 8px 14px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

td a:hover {
    background-color: #27ae60;
}

/* css de detalle.html*/

.info-taller {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #3498db;
}

.info-taller h2 {
    color: #2c3e50;
    margin-top: 0;
    font-size: 22px;
}

.info-taller p {
    color: #555555;
    margin: 8px 0;
    font-size: 15px;
}

.info-taller a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.info-taller a:hover {
    background-color: #27ae60;
}


.bitacora {
    background-color: #ffffff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.bitacora ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bitacora li {
    padding: 10px 12px;
    border-bottom: 1px solid #f1f1f1;
    color: #444444;
    font-size: 14px;
}

.bitacora li:last-child {
    border-bottom: none; 
}

.bitacora li:hover {
    background-color: #f9f9f9;
}
/*css para un form*/

form {
    background-color: #ffffff;
    max-width: 450px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.formulario-registro input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}
.formulario-registro button:hover{
    background-color: #ff0000;
}
.formulario-registro input:invalid {
    border-color: #ef4444;
}

.formulario-registro:valid button:hover{
    background-color:#16a34a ;
}

.formulario-registro:valid  input {
    border-color: #16a34a;
}